html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
}

.container {
  row-gap:  25px;
  justify-items : stretch;
  align-items: start;
}

img {
  max-width: 100px;
  padding: 3rem;
  margin-left: 10rem;
}

.card {
  display: grid;
  grid-template-areas: "bill"
  "select"
  "customers"
  "total";
  grid-template-columns: 1fr;
  row-gap:  25px;
  justify-items : center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bill-container {
  grid-area: "bill";
}

.select-container {
  grid-area: "select";
}

.button-container {
  display: grid;
  grid-template-areas:
  "five" "ten"
  "fifteen" "twenty"
  "fifty" "custom";
  grid-template-columns:
  1fr 1fr;
}

button {
  font-family: 'Space Mono', monospace;
  border: none;
  margin-top: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: large;
}

.btn-tip {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
}

.btn-tip:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.item1 {
  grid-area: "five";
}

.item2 {
  grid-area: "ten";
}

.item3 {
  grid-area: "fifteen";
}

.item4 {
  grid-area: "twenty";
}

.item5 {
  grid-area: "fifty";
}

.item-custom {
  grid-area: "custom";
}

.customers-container {
  grid-area: "customers";
}

.total-container {
  grid-area: "total";
}

#icon {
  width: 100%;
  padding: 10px;
  min-width: 40px;
  color:  hsl(184, 14%, 56%);
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  padding: 10px;
  background-color: hsl(189, 41%, 97%);
  border: 0;
  border-radius: 5px;
}

h2 {
  margin: 0;
  color: hsl(183, 100%, 15%);
}

h3 {
  color: hsl(186, 14%, 43%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

